In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("u.data.data", sep="\t", names=['user id', 'item id', 'rating', 'timestamp'])

In [3]:
data

       user id  item id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [4]:
data.head()

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [5]:
total_row = data.shape[0]

In [6]:
print(f'Count of rating : {total_row}')

Count of rating : 100000

# Question-2

In [7]:
user_item_matrix = data.pivot_table(index='user id', columns='item id', values='rating')

In [8]:
user_item_matrix

item id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
user_item_matrix = user_item_matrix.fillna(0)

In [10]:
user_item_matrix

item id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
user_s = user_item_matrix.corr(method='pearson')

In [12]:
user_similarity = pd.DataFrame(user_s, index=user_item_matrix.index, columns=user_item_matrix.index)

In [13]:
print("User Similarity Between Users: ")
user_similarity

User Similarity Between Users:

user id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.234595,0.193362,0.226213,0.128840,0.015113,0.347354,0.254490,0.209502,0.104655,...,0.177778,0.034234,0.038096,-0.059382,-0.055535,0.144717,0.110913,0.118416,0.131030,0.087249
2,0.234595,1.000000,0.190649,0.409044,0.240712,0.030062,0.220022,0.206020,0.077894,0.072906,...,0.109469,-0.003875,0.020944,-0.063157,-0.009327,0.237575,0.261943,0.263198,0.190375,0.184814
3,0.193362,0.190649,1.000000,0.227849,0.141368,0.065347,0.258855,0.078636,0.146181,0.079608,...,0.044390,0.080215,0.026230,-0.038762,-0.041841,0.177585,0.262461,0.135573,0.082063,0.302821
4,0.226213,0.409044,0.227849,1.000000,0.237298,0.021878,0.295489,0.352800,0.229922,0.138220,...,0.057858,-0.000230,0.047670,-0.050715,-0.041229,0.301222,0.248113,0.229866,0.234365,0.251201
5,0.128840,0.240712,0.141368,0.237298,1.000000,-0.008594,0.205289,0.145866,0.142541,-0.033746,...,0.118839,-0.003391,-0.046556,-0.033835,-0.020933,0.323203,0.159949,0.179454,0.177302,0.212719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.144717,0.237575,0.177585,0.301222,0.323203,0.016468,0.173634,0.145564,0.183288,0.016126,...,0.152261,0.015068,0.045249,-0.049097,-0.010715,1.000000,0.133692,0.231712,0.292645,0.171254
940,0.110913,0.261943,0.262461,0.248113,0.159949,-0.005202,0.154478,0.078550,-0.014192,0.035690,...,0.038153,-0.014530,-0.000067,-0.033537,-0.026870,0.133692,1.000000,0.143897,0.073872,0.198447
941,0.118416,0.263198,0.135573,0.229866,0.179454,-0.033538,0.045889,0.093466,0.064495,-0.012909,...,0.137369,-0.017689,0.016715,-0.027824,0.021981,0.231712,0.143897,1.000000,0.125911,0.129064
942,0.131030,0.190375,0.082063,0.234365,0.177302,0.111723,0.146465,0.253835,0.151121,0.073756,...,0.087482,0.038537,0.067662,0.015941,0.058545,0.292645,0.073872,0.125911,1.000000,0.130983
943,0.087249,0.184814,0.302821,0.251201,0.212719,0.021846,0.218268,0.080976,0.132400,0.039988,...,-0.026204,-0.016998,-0.037086,-0.039234,-0.031435,0.171254,0.198447,0.129064,0.130983,1.000000

In [14]:
def predict_movie_score(a, p, user_item_matrix, user_similarity, top_n=10):
    # ra = rating of user a
    ra = user_item_matrix.loc[a]

    # ùíëùíìùíÜùíÖ(ùíÇ,ùíë)=¬ØùíìùíÇ+ ‚àëùíÉ ‚ààùëµ ùíîùíäùíé(ùíÇ,ùíÉ)‚àó(ùíìùíÉ,ùíë‚àí¬ØùíìùíÉ) /‚àëùíÉ ‚ààùëµ ùíîùíäùíé(ùíÇ,ùíÉ)
    # x = ‚àëùíÉ ‚ààùëµ ùíîùíäùíé(ùíÇ,ùíÉ)‚àó(ùíìùíÉ,ùíë‚àí¬ØùíìùíÉ)
    # y = ‚àëùíÉ ‚ààùëµ ùíîùíäùíé(ùíÇ,ùíÉ)
    x = 0
    y = 0


    top_similar_users = user_similarity.loc[a].nlargest(top_n).index

    for b in top_similar_users:
        if b == a:
            continue

        rb = user_item_matrix.loc[b]

        # similarity between users a and b
        similarity_ab = user_similarity.loc[a, b]

        prediction_bp = rb[p]

        x += similarity_ab * (prediction_bp - rb.mean())
        y += similarity_ab

    if y == 0:
        return ra.mean()
    else:
        return ra.mean() + x / y

In [27]:
user_id = 105
movie_id = 182
predicted_rating = predict_movie_score(user_id, movie_id, user_item_matrix, user_similarity)
print(f'Ranting Prediction for movie-{movie_id} given by user-{user_id}: {predicted_rating}')

Ranting Prediction for movie-182 given by user-105: 1.3561385414963731

# Question-3

In [28]:
def similar_user(a, user_similarity, n):
    similar_users = user_similarity.loc[a].drop(a).nlargest(n).index
    return similar_users

In [29]:
user_id = 1
n = 10
similar_user = similar_user(user_id, user_similarity, n)
print(f'{n} similar user of user-{user_id} are: {similar_user}')

10 similar user of user-1 are: Int64Index([50, 121, 117, 151, 181, 405, 95, 118, 222, 588], dtype='int64', name='user id')

In [30]:
# Recommending 10 movies to a user 
# This was done by finding the most similar user based on user similarity then recommending the 10 movies that user given best rating.
def find_most_similar_user(user_id, user_similarity):
    #This function finds the most similar user to the given user id based on user similarity except himself
    most_similar_user = user_similarity.loc[user_id].drop(user_id).idxmax()
    return most_similar_user

def get_top_rated_movies_by_user(user_id, user_item_matrix, most_similar_user, n):
    # getting the most rated movies of the similar user
    similar_user_ratings = user_item_matrix.loc[most_similar_user]
    
    #excluding the movies that the given user already rated
    unrated_movies = similar_user_ratings[user_item_matrix.loc[user_id] == 0]

    # sorting movies by their rating
    movie_suggestion = unrated_movies.sort_values(ascending = False).head(n)

    return movie_suggestion

In [31]:
user_id = 10
n = 10
similar_user = find_most_similar_user(user_id, user_similarity)
recommended_movies = get_top_rated_movies_by_user(user_id, user_item_matrix, similar_user, n)
print(f'Recommended Movies for user {user_id} are : {recommended_movies.index}')

Recommended Movies for user 10 are : Int64Index([87, 148, 934, 633, 210, 678, 243, 568, 252, 181], dtype='int64', name='item id')

# Question 4

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [33]:
user_item_matrix = data.pivot_table(index='user id', columns='item id', values='rating')

In [34]:
user_item_matrix = user_item_matrix.fillna(0)
user_item_matrix

item id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
user_item_array = np.array(user_item_matrix)
user_item_array

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [36]:
def cosine_similarity(matrix):
    num_users = matrix.shape[0]
    similarity_matrix = np.zeros((num_users, num_users))

    for i in range(num_users):
        for j in range(num_users):
                user_i = matrix[i]
                user_j = matrix[j]
                cosine = np.sum(user_i * user_j) / (np.linalg.norm(user_i) * np.linalg.norm(user_j))
                similarity_matrix[i, j] = cosine

    return similarity_matrix

In [37]:
user_similarity_m = cosine_similarity(user_item_array)
user_similarity_m

array([[1.        , 0.16693098, 0.04745954, ..., 0.14861694, 0.17950788,
        0.39817474],
       [0.16693098, 1.        , 0.11059132, ..., 0.16148478, 0.17226781,
        0.10579788],
       [0.04745954, 0.11059132, 1.        , ..., 0.10124256, 0.13341615,
        0.02655587],
       ...,
       [0.14861694, 0.16148478, 0.10124256, ..., 1.        , 0.1016418 ,
        0.09511958],
       [0.17950788, 0.17226781, 0.13341615, ..., 0.1016418 , 1.        ,
        0.18246466],
       [0.39817474, 0.10579788, 0.02655587, ..., 0.09511958, 0.18246466,
        1.        ]])

In [38]:
user_similarity_df = pd.DataFrame(user_similarity_m)

In [39]:
user_similarity_df

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,1.000000,0.166931,0.047460,0.064358,0.378475,0.430239,0.440367,0.319072,0.078138,0.376544,...,0.369527,0.119482,0.274876,0.189705,0.197326,0.118095,0.314072,0.148617,0.179508,0.398175
1,0.166931,1.000000,0.110591,0.178121,0.072979,0.245843,0.107328,0.103344,0.161048,0.159862,...,0.156986,0.307942,0.358789,0.424046,0.319889,0.228583,0.226790,0.161485,0.172268,0.105798
2,0.047460,0.110591,1.000000,0.344151,0.021245,0.072415,0.066137,0.083060,0.061040,0.065151,...,0.031875,0.042753,0.163829,0.069038,0.124245,0.026271,0.161890,0.101243,0.133416,0.026556
3,0.064358,0.178121,0.344151,1.000000,0.031804,0.068044,0.091230,0.188060,0.101284,0.060859,...,0.052107,0.036784,0.133115,0.193471,0.146058,0.030138,0.196858,0.152041,0.170086,0.058752
4,0.378475,0.072979,0.021245,0.031804,1.000000,0.237286,0.373600,0.248930,0.056847,0.201427,...,0.338794,0.080580,0.094924,0.079779,0.148607,0.071459,0.239955,0.139595,0.152497,0.313941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.118095,0.228583,0.026271,0.030138,0.071459,0.111852,0.107027,0.095898,0.039852,0.071460,...,0.066039,0.431154,0.258021,0.226449,0.432666,1.000000,0.087687,0.180029,0.043264,0.144250
939,0.314072,0.226790,0.161890,0.196858,0.239955,0.352449,0.329925,0.246883,0.120495,0.342961,...,0.327153,0.107024,0.187536,0.181317,0.175158,0.087687,1.000000,0.145152,0.261376,0.241028
940,0.148617,0.161485,0.101243,0.152041,0.139595,0.144446,0.059993,0.146145,0.143245,0.090305,...,0.046952,0.203301,0.288318,0.234211,0.313400,0.180029,0.145152,1.000000,0.101642,0.095120
941,0.179508,0.172268,0.133416,0.170086,0.152497,0.317328,0.282003,0.175322,0.092497,0.212330,...,0.226440,0.073513,0.089588,0.129554,0.099385,0.043264,0.261376,0.101642,1.000000,0.182465
942,0.398175,0.105798,0.026556,0.058752,0.313941,0.276042,0.394364,0.299809,0.075617,0.221860,...,0.263791,0.210763,0.143253,0.077793,0.202244,0.144250,0.241028,0.095120,0.182465,1.000000

In [40]:
"""
For Large user item interaction matrix cosine similarity is efficient. 
"""

'\nFor Large user item interaction matrix cosine similarity is efficient. \n'